<% @page_title = "Forum" %>
<div class="center page-header">
  <h2>Local Forum</h2>
    <%= link_to("Start new Topic", new_moderator_topic_path, :class => 'btn btn-info') %>
</div>
<div class="col-xs-8 col-xs-offset-2 well well-lg">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <% @moderator_topics.each do |moderator_topic| %>
    <tr>
      <td><%= link_to(moderator_topic.title, moderator_topic_path(moderator_topic), :class => '') %></td>
      <td>
        <div >
          <%= link_to("Show", moderator_topic_path(moderator_topic), :class => 'btn btn-info') %>
          <%= link_to("Edit", edit_moderator_topic_path(moderator_topic), :class => 'btn btn-info') %>
          <%= link_to("Delete", delete_moderator_topic_path(moderator_topic), :class => 'btn btn-info') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
