<% @page_title = "Local Forum" %>
<div class="center page-header">
  <h3><%= simple_format(@moderator_topic.message) %></h3>
</div>
<div class="col-xs-8 col-xs-offset-2">
<%= form_for(@moderator_post, :url=>  moderator_topics_add_moderator_post_path(@moderator_topic), :method => 'post', :html => {:class => 'form-horizontal', :role => 'form'} ) do |f| %>
<%= hidden_field_tag :moderator_topic_id, @moderator_topic.id %>
<div class="form-group">
  <%= f.submit "Post", class: 'btn btn-lg btn-primary' %>
  <div class="col-sm-8">
    <%= f.text_area :message,  rows: '1', class: 'form-control', placeholder: 'Say something helpful...', autofocus: true %>
  </div>
</div>
<% end %>
</div>
<div class="col-xs-8 col-xs-offset-2">
  <% @moderator_posts.each do |moderator_post| %>
  <div class="entry">
    <%= simple_format(moderator_post.message) %>
    <p class="meta">
    <span class="date">
      <%= time_ago_in_words(moderator_post.created_at) %> ago
    </span>
      Posted by <%= moderator_post.origin %>
    </p>
  </div>
  <% end %>
</div>
