<% @page_title = "Manage Regulars" %>
<div class="center page-header">
  <h2>Manage Regulars</h2>
  <%= link_to "Add new Regular", new_regular_path, :class => 'btn btn-primary' %>
</div>
<div class="col-xs-8 col-xs-offset-2 well well-lg">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <% @regulars.each do |regular| %>
        <tr>
          <td>Regular ID: <%= regular.id %></td>
          <td>
            <div >
            <%= link_to("Show", regular_path(regular), :class => 'btn btn-info') %>
            <%= link_to("Edit", edit_regular_path(regular), :class => 'btn btn-info') %>
            <%= link_to("Delete", delete_regular_path(regular), :class => 'btn btn-danger') %>
            </div>
          </td>
        </tr>
    <% end %>
  </table>
</div>
