<% @page_title = "Forum" %>
<div class="center page-header">
  <h2>Forum</h2>
    <%= form_for(@floor, :url=> new_topic_path, :method => 'get' ) do |f| %>
    <%= hidden_field_tag :floor_id, @floor.id %>
    <%= f.submit "Add new Topic", class: 'btn btn-primary' %>
    <% end %>
</div>
<div class="col-xs-8 col-xs-offset-2 well well-lg">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <% @topics.each do |topic| %>
    <tr>
      <td><%= link_to(topic.title, topic_path(topic), :class => '') %></td>
      <td>
        <div >
          <%= link_to("Show", topic_path(topic), :class => 'btn btn-info') %>
          <%= link_to("Edit", edit_topic_path(topic), :class => 'btn btn-info') %>
          <%= link_to("Delete", delete_topic_path(topic), :class => 'btn btn-info') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
