<% @page_title = "Local Forum" %>
<div class="center page-header">
  <h2>Local Forum</h2>
  <%= link_to("Ask Question", new_topic_path, :class => 'btn btn-primary') %>
</div>
<div class="col-xs-7 col-xs-offset-2">
 <% @topics.each do |topic| %>
 <div class="entry">
  <%= link_to(topic.title, topic_path(topic)) %>
  <p class="meta">
    <span class="date">
      <%= time_ago_in_words(topic.created_at) %> ago
    </span>
    <% if session[:username] != topic.origin %>
    <span>
      Posted by <%= topic.origin %>
    </span>
    <% end %>
    <% if session[:username] == topic.origin or session[:username] == "admin" %>
    <span>
      <%= link_to("Edit", edit_topic_path(topic)) %>
      <%= link_to("Delete", delete_topic_path(topic)) %>
    </span>
     <% end %>
  </p>
</div>
<% end %>
</div>
