<% @page_title = "Tests" %>
<div class="center page-header">
  <h2>Tests for <%= @floor.floorname %></h2>
  <%= form_for(@floor, :url=> new_objective_test_path, :method => 'get' ) do |f| %>
  <%= hidden_field_tag :floor_id, @floor.id %>
  <%= f.submit "Add new Test", class: 'btn btn-primary' %>
  <% end %>
</div>
<div class="col-xs-7 col-xs-offset-2">
  <% @objective_tests.each do |objective_test| %>
  <div class="entry">
    <%= link_to(objective_test.title, objective_test_path(objective_test)) %>
    <p class="meta">
      <table>
        <tr>
          <td>
            <%= form_for(@floor, :url=> edit_objective_test_path(objective_test), :method => 'get' ) do |f| %>
            <%= hidden_field_tag :floor_id, @floor.id %>
            <%= f.submit "Edit", class: 'btn btn-info' %>
            <% end %>
          </td>
          <td>&nbsp;</td>
          <td>
            <%= form_for(@floor, :url=> delete_objective_test_path(objective_test), :method => 'get' ) do |f| %>
            <%= hidden_field_tag :floor_id, @floor.id %>
            <%= f.submit "Delete", class: 'btn btn-danger' %>
            <% end %>
          </td>
          <td>&nbsp;&nbsp;&nbsp;</td>
          <td>
            <span>
              Added by <%= objective_test.origin %>
            </span>
          </td>
          <td>&nbsp;</td>
          <td>
            <span class="date">
             <%= time_ago_in_words(objective_test.created_at) %> ago
           </span>
         </td>
       </tr>
     </table>
   </p>
 </div>
 <% end %>
</div>
