<% @page_title = "Scoreboard" %>
<div class="center page-header">
	<h2>Scoreboard for <%= @objective_test.title %></h2>
	<%= form_for(@objective_test, :url=> objective_questions_path, :method => 'get' ) do |f| %>
    <%= hidden_field_tag :objective_test_id, @objective_test.id %>
    <%= f.submit "Manage Questions", class: 'btn btn-primary' %>
    <% end %>
</div>
<div class="col-xs-8 col-xs-offset-2">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <tr>
      <td>Username</td>
      <td>Score</td>
    </tr>
    <% @exam_records.each do |exam_record| %>
    <tr>
      <td><%= Regular.find(exam_record.regular_id).username %></td>
      <td><%= simple_format(exam_record.score.to_s) %></td>
    </tr>
    <% end %>
  </table>
</div>
