<div class="center page-header">
	<h2><%= @objective_test.title %></h2>
	<%= form_for(@objective_test, :url=> objective_questions_path, :method => 'get' ) do |f| %>
    <%= hidden_field_tag :objective_test_id, @objective_test.id %>
    <%= f.submit "Manage Questions", class: 'btn btn-primary' %>
    <% end %>
</div>
<div class="col-xs-8 col-xs-offset-2 well well-lg">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <% @objective_questions.each do |objective_question| %>
    <tr>
      <td><%= simple_format(objective_question.message) %></td>
    </tr>
    <% end %>
  </table>
</div>
