<% @page_title = "Polls" %>
<div class="center page-header">
  <h2>Polls</h2>
  <%= link_to("Start new Poll", new_poll_path, :class => 'btn btn-primary') %>
</div>
<div class="col-xs-7 col-xs-offset-2">
 <% @polls.each do |poll| %>
 <div class="entry">
  <%= link_to(poll.title, poll_path(poll)) %>
  <p class="meta">
    <span class="date">
      <%= time_ago_in_words(poll.created_at) %> ago
    </span>
    <% if session[:username] == poll.origin %>
    <span>
      <%= link_to("Edit", edit_poll_path(poll)) %>
      <%= link_to("Delete", delete_poll_path(poll)) %>
    </span>
    <% else %>
    <span>
      Posted by <%= poll.origin %>
    </span>
    <% end %>
  </p>
</div>
<% end %>
</div>
