<% @page_title = "Poll" %>
<div class="center page-header">
  <h2><%= @poll.title %></h2>
</div>
<div class="well col-xs-8 col-xs-offset-2">
  <p>
    <%= simple_format(@poll.message) %>
  </p>
</div>
<div class="center well col-xs-6 col-xs-offset-3">
  <%= form_tag '/polls/show', :method => 'get', class: 'form-horizontal', role: 'form' do %>
    <%= hidden_field_tag :poll_id, @poll.id %>
    <% @poll.options.each do |option| %>
      <%= radio_button_tag :option, option.message, autofocus: true %><%= simple_format(option.message) %><br>
    <% end %>
    <div id="margiretta">
      <%= submit_tag "Vote!", class: 'btn btn-primary btn-lg' %>
    </div>
  <% end %>
</div>