<% @page_title = "Global Forum" %>
<div class="center page-header">
  <h2>Global Forum</h2>
  <%= link_to("Ask Question", new_global_topic_path, :class => 'btn btn-primary') %>
</div>
<div class="col-xs-7 col-xs-offset-2">
 <% @global_topics.each do |global_topic| %>
 <div class="entry">
  <%= link_to(global_topic.title, global_topic_path(global_topic)) %>
  <p class="meta">
    <span class="date">
      <%= time_ago_in_words(global_topic.created_at) %> ago
    </span>
    <% if session[:username] != global_topic.origin %>
    <span>
      Posted by <%= global_topic.origin %>
    </span>
    <% end %>
    <% if session[:username] == global_topic.origin or session[:username] == "admin" %>
    <span>
      <%= link_to("Edit", edit_global_topic_path(global_topic)) %>
      <%= link_to("Delete", delete_global_topic_path(global_topic)) %>
    </span>
     <% end %>
  </p>
</div>
<% end %>
</div>
