<% @page_title = "Global Forum" %>
<div class="center page-header">
  <h3><%= simple_format(@global_topic.message) %></h3>
</div>
<div class="col-xs-8 col-xs-offset-2">
<%= form_for(@global_post, :url=>  global_topics_add_global_post_path(@global_topic), :method => 'post', :html => {:class => 'form-horizontal', :role => 'form'} ) do |f| %>
<%= hidden_field_tag :global_topic_id, @global_topic.id %>
<div class="form-group">
  <%= f.submit "Post", class: 'btn btn-lg btn-primary' %>
  <div class="col-sm-8">
    <%= f.text_area :message,  rows: '1', class: 'form-control', placeholder: 'Say something helpful...', autofocus: true %>
  </div>
</div>
<% end %>
</div>
<div class="col-xs-8 col-xs-offset-2">
  <% @global_posts.each do |global_post| %>
  <div class="entry">
    <%= simple_format(global_post.message) %>
    <p class="meta">
    <span class="date">
      <%= time_ago_in_words(global_post.created_at) %> ago
    </span>
      Posted by <%= global_post.origin %>
    </p>
  </div>
  <% end %>
</div>