<% @page_title = "Tests" %>
<div class="center page-header">
  <h2>Tests</h2>
</div>
<div class="col-xs-7 col-xs-offset-2">
  <% @objective_tests.each do |objective_test| %>
  <div class="entry">
    <%= objective_test.title %>
    <% if Time.now < objective_test.end_time %>
    <%= link_to("Start", exam_path(objective_test), :class => 'btn', :style => 'float:right;') %>
    <% end %>
    <p class="meta">
      <span class="date">
        <%= time_ago_in_words(objective_test.created_at) %> ago
      </span>
      <% if Time.now < objective_test.start_time %>
      Starts in <%= time_ago_in_words(objective_test.start_time) %> <br/>
      <% elsif Time.now <  objective_test.end_time %>
      The test has started<br/>
      <% end %>
      <% if Time.now < objective_test.end_time %>
      Ends in <%= time_ago_in_words(objective_test.end_time) %> <br/>
      <% else %>
      The test has ended<br/>
      <% end %>
      Posted by <%= objective_test.origin %>
    </p>
  </div>
  <% end %>
</div>