<% @page_title = "Manage Moderators" %>
<div class="center page-header">
  <h2>Manage Moderators</h2>
  <%= link_to "Add new Moderator", new_moderator_path, :class => 'btn btn-primary' %>
</div>
<div class="col-xs-8 col-xs-offset-2 well well-lg">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <% @moderators.each do |moderator| %>
        <tr>
          <td>Moderator ID: <%= moderator.id %></td>
          <td>
            <div >
            <%= link_to("Show", moderator_path(moderator), :class => 'btn btn-info') %>
            <%= link_to("Edit", edit_moderator_path(moderator), :class => 'btn btn-info') %>
            <%= link_to("Delete", delete_moderator_path(moderator), :class => 'btn btn-danger') %>
            </div>
          </td>
        </tr>
    <% end %>
  </table>
</div>
