<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if session[:usertype] != nil %>
        <%= link_to "Raisin", global_topics_path , class: "navbar-brand", id: "logo" %>
      <% else %>
        <%= link_to "Raisin", access_login_path , class: "navbar-brand", id: "logo" %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if session[:usertype] == "regular" %>
          <li><%= link_to "Notifications", home_home_notification_path %></li>
          <li><%= link_to "Tags", home_home_tag_path %></li>
          <li><%= link_to "Tests", exams_path %></li>
          <li><%= link_to "Polls", polls_path %></li>
          <li><%= link_to "Local", topics_path %></li>
          <li><%= link_to "Global", global_topics_path %></li>
        <% elsif session[:user_id] != nil %>
          <% if session[:usertype] == "admin" %>
            <li><%= link_to "Moderators", moderators_path %></li>
          <% end %>
          <li><%= link_to "Floors", floors_path %></li>
          <li><%= link_to "Local", moderator_topics_path %></li>
          <li><%= link_to "Global", global_topics_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if session[:user_id] != nil %>
        <% if session[:usertype] == "admin" %>
        <li><%= link_to session[:username], tower_path(session[:tower_id]) %></li>
        <% else %>
        <li><%= link_to session[:username], '#' %></li>
        <% end %>
        <li><%= link_to "Logout", access_logout_path %></li>
      <% else %>
        <li><%= link_to "Register", new_tower_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>

