<% @page_title = "Tower Management" %>
<div class="center page-header">
  <h1><%= @tower.towername %></h1>
  <%= link_to "Add new Moderator", new_moderator_path, :class => 'btn btn-primary' %>
  <%= link_to "Add new Floor", new_floor_path, :class => 'btn btn-primary' %>
</div>
<% if session[:usertype] == "admin" %>
<div class="col-xs-8 col-xs-offset-2 well well-lg">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <% @moderators.each do |moderator| %>
    <tr>
      <td>Moderator ID: <%= moderator.id %></td>
      <td>
        <div>
          <%= link_to("Manage", moderator_path(moderator), :class => 'btn btn-info') %>
          <%= link_to("Edit", edit_moderator_path(moderator), :class => 'btn btn-info') %>
          <%= link_to("Delete", delete_moderator_path(moderator), :class => 'btn btn-danger') %>
        </div>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<div class="col-xs-8 col-xs-offset-2 well well-lg">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <% @floors.each do |floor| %>
    <tr>
      <td>Floor ID: <%= floor.id %></td>
      <td>
        <div>
          <%= link_to("Manage", floor_path(floor), :class => 'btn btn-info') %>
          <%= link_to("Edit", edit_floor_path(floor), :class => 'btn btn-info') %>
          <%= link_to("Delete", delete_floor_path(floor), :class => 'btn btn-danger') %>
        </div>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>